$headerBg: #f2f3f5;
$borderColor: rgba(208, 210, 215, 1);
$titleColor: rgba(34, 42, 70, 1);
$titleHoverColor: #e2195b;
$textColor: rgba(27, 28, 33, 1);
$lightGreyTextColor: rgba(176, 178, 185, 1);
$btnBgColor: #f53b49;
$btnBgHoverColor: #e32a38;
$btnColor: #fff;
$crumbColor: rgba(27, 28, 33, 1);
$crumbActiveColor: #808080;
$counterBtnColor: rgba(125, 129, 142, 1);
